<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>

<body>
    <!--navbar-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="brand-color" href="/">ProjectDailyReports</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!--link to homepage and create reports-->
                    <li><a href="/">Home Page</a></li>
                    <li><a href="/createreport">Create Reports</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <h2 id="result-title">Employee's Daily Report Search Result By Reporter</h2>
        </div>
        <div>
            <!--Latest Reports-->

            <br />
            <div class="container">
                <div class="col-md-12 column list-group">
                    {% for dailyReport in dailyReports %}
                    <div class="list-group-item">
                        <div>Report created by: <em><strong>{{ dailyReport.memberName }}</strong></em>
                            Created date: {{ dailyReport.createdOn.toDateString() }}</div>
                        <div><strong>Project name:</strong> {{ dailyReport.projectTitle }}</div>
                        <div><strong>Completed tasks:</strong> {{ dailyReport.completedTasks }}</div>
                        <div><strong>Tasks in progress:</strong> {{ dailyReport.tasksInProgress }}</div>
                        <div><strong>Obstacles:</strong> {{ dailyReport.obstacles }}</div>
                        <div><strong>Next task:</strong> {{ dailyReport.nextTask }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br />
    </div>
    </div><!--end of container -->
</body>

</html>