
body {
    padding:                50px !important;
    font:                   14px "Sans-serif", Helvetica, Arial, Verdana;
    background-color:       #B8B8B8!important;
    color:                  #303D74 !important;
}
